.app-bg {
    -fx-background-color: linear-gradient(to bottom, #2F7CF8, #1E5ED6);
    
}
.root {
    -fx-font-family: "Segoe UI", "Roboto", "Arial";
    -fx-background-color: linear-gradient(to bottom, #e4ecff, #f2f4f8);
}
.card {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-padding: 32 40 40 40;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.18), 20, 0, 0, 8);
}
.header {
    -fx-background-color: #1d4ed8; /* azul forte */
    -fx-padding: 30 0 20 0;
    -fx-alignment: center;
    -fx-background-radius: 18 18 0 0;
}

.header-title {
    -fx-text-fill: rgb(14, 13, 13);
    -fx-font-size: 18px;
    -fx-font-weight: 700;
}

.header-subtitle {
    -fx-text-fill: #0f0f0f;
    -fx-font-size: 12px;
}
.form-label {
    -fx-font-size: 13px;
    -fx-font-weight: 600;
    -fx-text-fill: #374151;
}
.date-picker .arrow-button {
    -fx-background-color: #e5e7eb;
    -fx-background-radius: 0 8 8 0;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #d1d5db;
}

.date-picker .cell:selected {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
}
.btn-primary {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-weight: 600;
    -fx-background-radius: 8;
    -fx-padding: 8 18;
}

.btn-primary:hover {
    -fx-background-color: #1e40af;
}
.btn-secondary {
    -fx-background-color: #e5e7eb;
    -fx-text-fill: #374151;
    -fx-font-weight: 600;
    -fx-background-radius: 8;
    -fx-padding: 8 18;
}

.btn-secondary:hover {
    -fx-background-color: #d1d5db;
}
.error {
    -fx-text-fill: #dc2626; /* vermelho */
    -fx-font-size: 12px;
}

.success {
    -fx-text-fill: #16a34a; /* verde */
    -fx-font-size: 12px;
    -fx-font-weight: 600;
}